@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto", sans-serif;
  }
}

.flip-card {
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.light {
  @apply bg-gradient-to-tr from-white via-sky-100 to-blue-400;
}

.notlight {
  @apply dark:bg-gradient-to-bl dark:from-black dark:via-blue-900 dark:to-black;
}

.box {
  @apply  bg-white/25 dark:bg-black/25 bg-clip-padding backdrop-filter backdrop-blur-md xs:p-8 p-10 flex justify-center items-center rounded-2xl shadow-xl min-w-[300px] min-h-[150px] xs:max-w-[300px] gap-2;
}

.text-square {
  @apply bg-neutral-600 text-neutral-100 text-3xl xs:text-2xl opacity-90 dark:text-neutral-600 dark:bg-neutral-100;
}

.optbutton {
  @apply flex flex-row items-center justify-center w-full px-1 py-1 text-sm xs:text-lg font-medium bg-blue-200 leading-6 duration-100 transform rounded-xl shadow cursor-pointer focus:ring-4 focus:ring-white focus:ring-opacity-50 focus:outline-none sm:mb-0 sm:w-auto sm:mr-4 md:pl-8 md:pr-6 xl:pl-12 xl:pr-10  dark:text-neutral-700 dark:bg-neutral-200/90 hover:shadow-lg hover:-translate-y-1;
}

.animedia {
  @apply duration-100 transform hover:-translate-y-1;
}
